.header {
    grid-area: h; /*мы говорим всему div с классом app-wrapper как позиционировать header */
    background-color: lightblue;
    padding: 10px;
}

.header img {
    width: 60px;
}

.login {
    float: right;
    margin: 15px;
    padding: 0;
}

.login a {
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

.login a:hover {
    color: coral;
    transition: .5s;
}